<div class="p-4 max-w-sm">
  <div class="flex rounded-lg h-full border-solid border-cyan-400 border-2 p-8 flex-col">
      <div class="flex items-center mb-3">
          <div
              class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-cyan-500 text-white flex-shrink-0">
              <fa-icon [icon]="faFish"></fa-icon>
          </div>
          <h2 class="text-lg font-medium">{{ location.name }}</h2>
      </div>
      <div class="flex flex-col justify-between flex-grow">
          <p class="leading-relaxed text-base text-gray-600">
              <a [routerLink]="[location.id]">link</a><br>
              Blue bottle crucifix vinyl post-ironic four dollar toast vegan taxidermy. Gastropub indxgo juice poutine.
          </p>
      </div>
      @if(showWeather) {
      <ul class="flex mt-2 mb-0">
        <li>{{ weather.temp}}<fa-icon [icon]="faTemperatureThreeQuarters" class="ms-2"></fa-icon></li>
        <li class="mx-4">{{ weather.wind }}<fa-icon [icon]="faWind" class="ms-2"></fa-icon></li>
      </ul>
      }
  </div>
</div>
