<div class="max-w-sm cursor-pointer w-64">
  <div class="flex rounded-lg h-full border-solid border-cyan-400 border-2 p-8 flex-col">
    <div class="flex items-center mb-3">
      <div class="w-8 h-8 mr-3 inline-flex items-center justify-center rounded-full bg-cyan-500 text-white flex-shrink-0">
        <fa-icon [icon]="faWater"></fa-icon>
      </div>
      <h2 class="text-lg font-medium">Lake One</h2>
    </div>
    <div class="flex flex-col justify-between flex-grow">
      <img src="https://fakeimg.pl/350x200/">
      <p class="leading-relaxed text-base text-gray-600 text-ellipsis line-clamp-3">
        Random text
      </p>
    </div>
  </div>
</div>
